{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    {% translate 'Size guide' %} {% translate 'women' %} | Operstyle
{% endblock title %}

{% block custom_css %}
    <style>
        .table td, .table th {
            border: 1px solid #e3e3e3;
            padding: 0.35rem;
        }
    </style>
{% endblock custom_css %}

{% block main %}
    <div class="container">
        <div class="my-5">
            <div class="row">
                <div class="col-12 text-center">
                    <nav>
                        <div class="nav nav-pills justify-content-center" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#shoes" role="tab"
                               aria-controls="nav-home" aria-selected="true">
                                <h5 class="mb-0">{% translate 'Shoes' %}</h5>
                            </a>
                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#clothing" role="tab"
                               aria-controls="nav-profile" aria-selected="false">
                                <h5 class="mb-0">{% translate 'Clothing' %}</h5>
                            </a>
                            <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#accessories" role="tab"
                               aria-controls="nav-contact" aria-selected="false">
                                <h5 class="mb-0">
                                    {% translate 'Accessories' %}
                                </h5>
                            </a>
                            <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#jewellery" role="tab"
                               aria-controls="nav-contact" aria-selected="false">
                                <h5 class="mb-0">
                                    {% translate 'Jewellery' %}
                                </h5>
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content mt-5">
                        <div class="tab-pane fade show active" id="shoes" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="row">
                                <div class="col-12">
                                    {#                                    <p>#}
                                    {#                                        {% translate 'The shoe size systems are very different depending on the country.' %}#}
                                    {#                                    </p>#}
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>{% translate 'Centimeters' %}</th>
                                                <th>{% translate 'Inchs' %}</th>
                                                <th>{% translate 'US / Canada' %}</th>
                                                <th>UK</th>
                                                <th>{% translate 'Euro' %}</th>
                                                <th>{% translate 'Australia / NZ' %}</th>
                                                <th>{% translate 'Japan' %}</th>
                                                <th>{% translate 'China' %}</th>
                                                <th>{% translate 'Mexico' %}</th>
                                                <th>{% translate 'Korea' %}</th>
                                                <th>{% translate 'Italy' %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>22.8</td>
                                                <td>9</td>
                                                <td>5</td>
                                                <td>2.5</td>
                                                <td>35</td>
                                                <td>3.5</td>
                                                <td>21</td>
                                                <td>35.5</td>
                                                <td>-</td>
                                                <td>228</td>
                                                <td>34</td>
                                            </tr>
                                            <tr>
                                                <td>23.1</td>
                                                <td>9.12</td>
                                                <td>5.5</td>
                                                <td>3</td>
                                                <td>35.5</td>
                                                <td>4</td>
                                                <td>21.5</td>
                                                <td>36</td>
                                                <td>-</td>
                                                <td>231</td>
                                                <td>34.5</td>
                                            </tr>
                                            <tr>
                                                <td>23.5</td>
                                                <td>9.25</td>
                                                <td>6</td>
                                                <td>3.5</td>
                                                <td>36</td>
                                                <td>4.5</td>
                                                <td>22</td>
                                                <td>37</td>
                                                <td>-</td>
                                                <td>235</td>
                                                <td>35</td>
                                            </tr>
                                            <tr>
                                                <td>23.8</td>
                                                <td>9.37</td>
                                                <td>6.5</td>
                                                <td>4</td>
                                                <td>37</td>
                                                <td>5</td>
                                                <td>22.5</td>
                                                <td>37.5</td>
                                                <td>-</td>
                                                <td>238</td>
                                                <td>36</td>
                                            </tr>
                                            <tr>
                                                <td>24.1</td>
                                                <td>9.5</td>
                                                <td>7</td>
                                                <td>4.5</td>
                                                <td>37.5</td>
                                                <td>5.5</td>
                                                <td>23</td>
                                                <td>38</td>
                                                <td>4</td>
                                                <td>241</td>
                                                <td>36.5</td>
                                            </tr>
                                            <tr>
                                                <td>24.5</td>
                                                <td>9.62</td>
                                                <td>7.5</td>
                                                <td>5</td>
                                                <td>38</td>
                                                <td>6</td>
                                                <td>23.5</td>
                                                <td>39</td>
                                                <td>4.5</td>
                                                <td>245</td>
                                                <td>37</td>
                                            </tr>
                                            <tr>
                                                <td>24.8</td>
                                                <td>9.75</td>
                                                <td>8</td>
                                                <td>5.5</td>
                                                <td>38.5</td>
                                                <td>6.5</td>
                                                <td>24</td>
                                                <td>39.5</td>
                                                <td>5</td>
                                                <td>248</td>
                                                <td>37.5</td>
                                            </tr>
                                            <tr>
                                                <td>25.1</td>
                                                <td>9.87</td>
                                                <td>8.5</td>
                                                <td>6</td>
                                                <td>39</td>
                                                <td>7</td>
                                                <td>24.5</td>
                                                <td>40</td>
                                                <td>5.5</td>
                                                <td>251</td>
                                                <td>38</td>
                                            </tr>
                                            <tr>
                                                <td>25.4</td>
                                                <td>10</td>
                                                <td>9</td>
                                                <td>6.5</td>
                                                <td>40</td>
                                                <td>7.5</td>
                                                <td>25</td>
                                                <td>41</td>
                                                <td>6</td>
                                                <td>254</td>
                                                <td>39</td>
                                            </tr>
                                            <tr>
                                                <td>25.7</td>
                                                <td>10.12</td>
                                                <td>9.5</td>
                                                <td>7</td>
                                                <td>41</td>
                                                <td>8</td>
                                                <td>25.5</td>
                                                <td>41.5</td>
                                                <td>6.5</td>
                                                <td>257</td>
                                                <td>40</td>
                                            </tr>
                                            <tr>
                                                <td>26</td>
                                                <td>10.25</td>
                                                <td>10</td>
                                                <td>7.5</td>
                                                <td>42</td>
                                                <td>8.5</td>
                                                <td>26</td>
                                                <td>42</td>
                                                <td>7</td>
                                                <td>260</td>
                                                <td>41</td>
                                            </tr>
                                            <tr>
                                                <td>26.7</td>
                                                <td>10.5</td>
                                                <td>10.5</td>
                                                <td>8</td>
                                                <td>43</td>
                                                <td>9</td>
                                                <td>27</td>
                                                <td>43</td>
                                                <td>7.5</td>
                                                <td>267</td>
                                                <td>42</td>
                                            </tr>
                                            <tr>
                                                <td>27.3</td>
                                                <td>10.75</td>
                                                <td>12</td>
                                                <td>9.5</td>
                                                <td>44</td>
                                                <td>10.5</td>
                                                <td>28</td>
                                                <td>44.5</td>
                                                <td>9</td>
                                                <td>273</td>
                                                <td>43</td>
                                            </tr>
                                            <tr>
                                                <td>27.9</td>
                                                <td>11</td>
                                                <td>13</td>
                                                <td>10.5</td>
                                                <td>45</td>
                                                <td>11.5</td>
                                                <td>29</td>
                                                <td>46</td>
                                                <td>10</td>
                                                <td>279</td>
                                                <td>44</td>
                                            </tr>
                                            <tr>
                                                <td>28.6</td>
                                                <td>11.25</td>
                                                <td>14</td>
                                                <td>11.5</td>
                                                <td>46.5</td>
                                                <td>12.5</td>
                                                <td>30</td>
                                                <td>47</td>
                                                <td>11</td>
                                                <td>286</td>
                                                <td>45.5</td>
                                            </tr>
                                            <tr>
                                                <td>29.2</td>
                                                <td>11.5</td>
                                                <td>15.5</td>
                                                <td>13</td>
                                                <td>48.5</td>
                                                <td>14</td>
                                                <td>31</td>
                                                <td>48</td>
                                                <td>12.5</td>
                                                <td>292</td>
                                                <td>47.5</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="clothing" role="tabpanel" aria-labelledby="nav-profile-tab">.
                            {#                            <p class="font-weight-bold">#}
                            {#                                {% translate 'Pullovers, T-Shirts, Tops, Sweatshirts, Blouses, Jackets & Coats, Dresses' %}#}
                            {#                            </p>#}
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead class="thead-light">
                                    <tr>
                                        <th colspan="100%">{% translate "Women's clothing sizes" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{% translate 'Short size' %} < 164 cm</td>
                                        <td>16</td>
                                        <td>17</td>
                                        <td>18</td>
                                        <td>19</td>
                                        <td>20</td>
                                        <td>21</td>
                                        <td>22</td>
                                        <td>23</td>
                                        <td>24</td>
                                        <td>25</td>
                                        <td>26</td>
                                        <td>27</td>
                                    </tr>
                                    <tr>
                                        <td>{% translate 'Standard size' %} < 170 cm</td>
                                        <td>32</td>
                                        <td>34</td>
                                        <td>36</td>
                                        <td>38</td>
                                        <td>40</td>
                                        <td>42</td>
                                        <td>44</td>
                                        <td>46</td>
                                        <td>48</td>
                                        <td>50</td>
                                        <td>52</td>
                                        <td>54</td>
                                    </tr>
                                    <tr>
                                        <td>{% translate 'Tall size' %} 170 cm</td>
                                        <td>64</td>
                                        <td>68</td>
                                        <td>72</td>
                                        <td>76</td>
                                        <td>80</td>
                                        <td>84</td>
                                        <td>88</td>
                                        <td>92</td>
                                        <td>96</td>
                                        <td>100</td>
                                        <td>104</td>
                                        <td>108</td>
                                    </tr>
                                    <tr>
                                        <td>{% translate 'International' %}</td>
                                        <td colspan="2">XS</td>
                                        <td colspan="2">S</td>
                                        <td colspan="2">M</td>
                                        <td colspan="2">L</td>
                                        <td colspan="2">XL</td>
                                        <td colspan="2">XXL</td>
                                    </tr>
                                    <tr>
                                        <td>{% translate 'Shoulder width' %} (cm)</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>13</td>
                                        <td>13</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>14</td>
                                        <td>14</td>
                                        <td>14</td>
                                    </tr>
                                    <tr>
                                        <td>{% translate 'Arm length' %} (cm)</td>
                                        <td>58</td>
                                        <td>59</td>
                                        <td>59</td>
                                        <td>60</td>
                                        <td>60</td>
                                        <td>61</td>
                                        <td>61</td>
                                        <td>61</td>
                                        <td>61</td>
                                        <td>62</td>
                                        <td>62</td>
                                        <td>62</td>
                                    </tr>
                                    <tr>
                                        <td>{% translate 'Bust' %} (cm)</td>
                                        <td>74 - 77</td>
                                        <td>78 - 81</td>
                                        <td>82 - 85</td>
                                        <td>86 - 89</td>
                                        <td>90 - 93</td>
                                        <td>94 - 97</td>
                                        <td>98 - 102</td>
                                        <td>103 - 107</td>
                                        <td>108 - 113</td>
                                        <td>114 - 119</td>
                                        <td>120 - 125</td>
                                        <td>126 - 131</td>
                                    </tr>
                                    <tr>
                                        <td>{% translate 'Waist' %} (cm)</td>
                                        <td>58 - 61</td>
                                        <td>62 - 64</td>
                                        <td>65 - 68</td>
                                        <td>69 - 72</td>
                                        <td>73 - 77</td>
                                        <td>78 - 81</td>
                                        <td>82 - 85</td>
                                        <td>86 - 90</td>
                                        <td>91 - 95</td>
                                        <td>96 - 102</td>
                                        <td>103 - 108</td>
                                        <td>109 - 114</td>
                                    </tr>
                                    <tr>
                                        <td>{% translate 'Hips' %} (cm)</td>
                                        <td>80 - 84</td>
                                        <td>85 - 89</td>
                                        <td>90 - 94</td>
                                        <td>95 - 97</td>
                                        <td>98 - 101</td>
                                        <td>102 - 104</td>
                                        <td>105 - 108</td>
                                        <td>109 - 112</td>
                                        <td>113 - 116</td>
                                        <td>117 - 122</td>
                                        <td>123 - 128</td>
                                        <td>129 - 134</td>
                                    </tr>
                                    <tr>
                                        <td>{% translate 'Inside leg' %} (cm)</td>
                                        <td>103</td>
                                        <td>104</td>
                                        <td>105</td>
                                        <td>106</td>
                                        <td>107</td>
                                        <td>108</td>
                                        <td>109</td>
                                        <td>110</td>
                                        <td>111</td>
                                        <td>112</td>
                                        <td>113</td>
                                        <td>114</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>{% translate 'Size' %}</th>
                                        <th>{% translate 'Standard size' %}</th>
                                        <th>{% translate 'Italy' %}</th>
                                        <th>USA</th>
                                        <th>UK / AU / NZ</th>
                                        <th>{% translate 'France' %}</th>
                                        <th>{% translate 'Germany' %}</th>
                                        <th>{% translate 'Japan' %}</th>
                                        <th>{% translate 'Russia' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>XS</td>
                                        <td>32 - 34</td>
                                        <td>36</td>
                                        <td>0</td>
                                        <td>4</td>
                                        <td>32</td>
                                        <td>30</td>
                                        <td>5</td>
                                        <td>38</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">S</td>
                                        <td>36</td>
                                        <td>38</td>
                                        <td>2</td>
                                        <td>6</td>
                                        <td>34</td>
                                        <td>32</td>
                                        <td>7</td>
                                        <td>40</td>
                                    </tr>
                                    <tr>
                                        <td>38</td>
                                        <td>40</td>
                                        <td>4</td>
                                        <td>8</td>
                                        <td>36</td>
                                        <td>34</td>
                                        <td>9</td>
                                        <td>42</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">M</td>
                                        <td>40</td>
                                        <td>42</td>
                                        <td>6</td>
                                        <td>10</td>
                                        <td>38</td>
                                        <td>36</td>
                                        <td>11</td>
                                        <td>44</td>
                                    </tr>
                                    <tr>
                                        <td>42</td>
                                        <td>44</td>
                                        <td>8</td>
                                        <td>12</td>
                                        <td>40</td>
                                        <td>38</td>
                                        <td>13</td>
                                        <td>46</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">L</td>
                                        <td>44</td>
                                        <td>46</td>
                                        <td>10</td>
                                        <td>14</td>
                                        <td>42</td>
                                        <td>40</td>
                                        <td>15</td>
                                        <td>48</td>
                                    </tr>
                                    <tr>
                                        <td>46</td>
                                        <td>48</td>
                                        <td>12</td>
                                        <td>16</td>
                                        <td>44</td>
                                        <td>42</td>
                                        <td>17</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <td>1X</td>
                                        <td>48 - 50</td>
                                        <td>50</td>
                                        <td>14</td>
                                        <td>18</td>
                                        <td>46</td>
                                        <td>44</td>
                                        <td>19</td>
                                        <td>52</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">2X</td>
                                        <td>52</td>
                                        <td>52</td>
                                        <td>16</td>
                                        <td>20</td>
                                        <td>48</td>
                                        <td>46</td>
                                        <td>21</td>
                                        <td>54</td>
                                    </tr>
                                    <tr>
                                        <td>54</td>
                                        <td>54</td>
                                        <td>18</td>
                                        <td>22</td>
                                        <td>50</td>
                                        <td>48</td>
                                        <td>23</td>
                                        <td>56</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">3X</td>
                                        <td>56</td>
                                        <td>56</td>
                                        <td>20</td>
                                        <td>24</td>
                                        <td>52</td>
                                        <td>50</td>
                                        <td>25</td>
                                        <td>58</td>
                                    </tr>
                                    <tr>
                                        <td>58</td>
                                        <td>58</td>
                                        <td>22</td>
                                        <td>26</td>
                                        <td>54</td>
                                        <td>52</td>
                                        <td>27</td>
                                        <td>60</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="accessories" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <p class="font-weight-bold mt-4">
                                {% translate 'Gloves' %}
                            </p>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">XS</th>
                                        <th scope="col">S</th>
                                        <th scope="col">M</th>
                                        <th scope="col">L</th>
                                        <th scope="col">XL</th>
                                        <th scope="col">XXL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{% translate 'In Inches' %}</td>
                                        <td>6 - 6.5</td>
                                        <td>6.5 - 7</td>
                                        <td>7 - 7.5</td>
                                        <td>7.5 - 8</td>
                                        <td>8 - 8.5</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>{% translate 'In Centimeters' %}</td>
                                        <td>15.25</td>
                                        <td>16.5</td>
                                        <td>17.75</td>
                                        <td>19</td>
                                        <td>20.25</td>
                                        <td>-</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p class="font-weight-bold mt-4">
                                {% translate 'Belts' %}
                            </p>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">XS</th>
                                        <th scope="col">S</th>
                                        <th scope="col">M</th>
                                        <th scope="col">L</th>
                                        <th scope="col">XL</th>
                                        <th scope="col">XXL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{% translate 'In Centimeters' %}</td>
                                        <td>75 / 80</td>
                                        <td>85 / 90</td>
                                        <td>95 / 100</td>
                                        <td>105 / 110</td>
                                        <td>115 / 125</td>
                                        <td>130 / 140</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p class="font-weight-bold mt-4">
                                {% translate 'Hats / Caps / Beanies ' %}
                            </p>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">XS</th>
                                        <th scope="col">S</th>
                                        <th scope="col">M</th>
                                        <th scope="col">L</th>
                                        <th scope="col">XL</th>
                                        <th scope="col">XXL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{% translate 'In Centimeters' %}</td>
                                        <td>53 - 54</td>
                                        <td>55 - 56</td>
                                        <td>57 - 58</td>
                                        <td>59 - 60</td>
                                        <td>61 - 62</td>
                                        <td>63 - 64</td>
                                    </tr>
                                    <tr>
                                        <td>{% translate 'Euro' %}</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p class="font-weight-bold mt-4">
                                {% translate 'Socks ' %}
                            </p>
                            <table class="table table-striped table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">XS</th>
                                    <th scope="col">S</th>
                                    <th scope="col">M</th>
                                    <th scope="col">L</th>
                                    <th scope="col">XL</th>
                                    <th scope="col">XXL</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{% translate 'In Centimeters' %}</td>
                                    <td>20 - 22</td>
                                    <td>22 - 24</td>
                                    <td>24 - 26</td>
                                    <td>26 - 28</td>
                                    <td>28 - 30</td>
                                    <td>30 - 32</td>
                                </tr>
                                <tr>
                                    <td>{% translate 'Euro' %}</td>
                                    <td>30 - 34</td>
                                    <td>34 - 38</td>
                                    <td>38 - 42</td>
                                    <td>42 - 46</td>
                                    <td>46 - 50</td>
                                    <td>50 - 54</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="jewellery" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <p class="font-weight-bold mt-4">
                                {% translate 'Ring' %}
                            </p>
                            <table class="table table-striped table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>{% translate 'Diameter ' %} (mm)</th>
                                    <th>{% translate 'Europe' %}</th>
                                    <th>{% translate 'India' %}</th>
                                    <th>{% translate 'UK, Australia & South Africa' %}</th>
                                    <th>{% translate 'United States & Canada' %}</th>
                                    <th>{% translate 'China' %}</th>
                                    <th>{% translate 'Singapore & Japan' %}</th>
                                    <th>{% translate 'Hong Kong' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>14.01</td>
                                    <td>44</td>
                                    <td>4</td>
                                    <td>F.5</td>
                                    <td>3</td>
                                    <td>6</td>
                                    <td>4</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>14.33</td>
                                    <td>45</td>
                                    <td>5</td>
                                    <td>G</td>
                                    <td></td>
                                    <td></td>
                                    <td>5</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>14.5</td>
                                    <td></td>
                                    <td></td>
                                    <td>G.5</td>
                                    <td>3.5</td>
                                    <td>7</td>
                                    <td></td>
                                    <td>7.5</td>
                                </tr>
                                <tr>
                                    <td>14.65</td>
                                    <td>46</td>
                                    <td>6</td>
                                    <td>H</td>
                                    <td></td>
                                    <td></td>
                                    <td>6</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>14.97</td>
                                    <td>47</td>
                                    <td>7</td>
                                    <td>H.5</td>
                                    <td>4</td>
                                    <td>8</td>
                                    <td>7</td>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <td>15.1</td>
                                    <td></td>
                                    <td></td>
                                    <td>I</td>
                                    <td></td>
                                    <td>9</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>15.29</td>
                                    <td>48</td>
                                    <td>8</td>
                                    <td>I.5</td>
                                    <td>4.5</td>
                                    <td></td>
                                    <td>8</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>15.5</td>
                                    <td></td>
                                    <td></td>
                                    <td>J</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>15.61</td>
                                    <td>49</td>
                                    <td>9</td>
                                    <td>J.5</td>
                                    <td>5</td>
                                    <td>10</td>
                                    <td>9</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>15.92</td>
                                    <td>50</td>
                                    <td>10</td>
                                    <td>K</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>16.1</td>
                                    <td></td>
                                    <td></td>
                                    <td>K.5</td>
                                    <td>5.5</td>
                                    <td>11</td>
                                    <td>10</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>16.24</td>
                                    <td>51</td>
                                    <td>11</td>
                                    <td>L</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>16.56</td>
                                    <td>52</td>
                                    <td>12</td>
                                    <td>L.5</td>
                                    <td>6</td>
                                    <td>12</td>
                                    <td>11</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td>16.7</td>
                                    <td></td>
                                    <td></td>
                                    <td>M</td>
                                    <td></td>
                                    <td>13</td>
                                    <td>12</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>16.88</td>
                                    <td>53</td>
                                    <td>13</td>
                                    <td>M.5</td>
                                    <td>6.5</td>
                                    <td></td>
                                    <td>13</td>
                                    <td>14.5</td>
                                </tr>
                                <tr>
                                    <td>17.1</td>
                                    <td></td>
                                    <td></td>
                                    <td>N</td>
                                    <td></td>
                                    <td>14</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>17.2</td>
                                    <td>54</td>
                                    <td>14</td>
                                    <td>N.5</td>
                                    <td>7</td>
                                    <td></td>
                                    <td>14</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td>17.52</td>
                                    <td>55</td>
                                    <td>15</td>
                                    <td>O</td>
                                    <td></td>
                                    <td>15</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>17.7</td>
                                    <td></td>
                                    <td></td>
                                    <td>O.5</td>
                                    <td>7.5</td>
                                    <td></td>
                                    <td>15</td>
                                    <td>17</td>
                                </tr>
                                <tr>
                                    <td>17.83</td>
                                    <td>56</td>
                                    <td>16</td>
                                    <td>P</td>
                                    <td></td>
                                    <td>16</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>18.15</td>
                                    <td>57</td>
                                    <td>17</td>
                                    <td>P.5</td>
                                    <td>8</td>
                                    <td>17</td>
                                    <td>16</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>18.2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>18.3</td>
                                    <td></td>
                                    <td></td>
                                    <td>Q</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>18.47</td>
                                    <td>58</td>
                                    <td>18</td>
                                    <td>Q.5</td>
                                    <td>8.5</td>
                                    <td>18</td>
                                    <td>17</td>
                                    <td>19</td>
                                </tr>
                                <tr>
                                    <td>18.79</td>
                                    <td>59</td>
                                    <td>19</td>
                                    <td>R</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>19.0</td>
                                    <td></td>
                                    <td></td>
                                    <td>R.5</td>
                                    <td>9</td>
                                    <td>19</td>
                                    <td>18</td>
                                    <td>20.5</td>
                                </tr>
                                <tr>
                                    <td>19.11</td>
                                    <td>60</td>
                                    <td>20</td>
                                    <td>S</td>
                                    <td></td>
                                    <td>20</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>

                            <p class="font-weight-bold mt-4">
                                {% translate 'Bracelets' %}
                            </p>
                            <table class="table table-striped table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Size</th>
                                    <th scope="col">XS</th>
                                    <th scope="col">S</th>
                                    <th scope="col">M</th>
                                    <th scope="col">L</th>
                                    <th scope="col">XL</th>
                                    <th scope="col">XXL</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{% translate 'Wrist' %} cm.</td>
                                    <td>12.7 - 14</td>
                                    <td>14 - 15.2</td>
                                    <td>15.2 - 16.5</td>
                                    <td>16.5 - 17.18</td>
                                    <td>17.18 - 19</td>
                                    <td>19 - 20.3</td>
                                </tr>
                                <tr>
                                    <td>{% translate 'Wrist' %} in.</td>
                                    <td>5 - 5.5</td>
                                    <td>5.5 - 6</td>
                                    <td>6 - 6.5</td>
                                    <td>6.5 - 7</td>
                                    <td>7 - 7.5</td>
                                    <td>7.5 - 8</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}