{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{{ news }} | PicoStyle
{% endblock title %}

{% block main %}
<div class="container detail">
    <div class="my-5">
        <div class="row">
            <div class="col-12">
                <a href="javascript:history.back()" class="back-btn">
                    <i class="fa fa-arrow-left"></i> {% translate 'back' %}
                </a>
                <img src="{{ news.image.url }}" alt="{{ news.title }}" class="news-image">
                <h3 class="news-title">{{ news.title }}</h3>
                <hr>
            </div>
            <div class="col-12 mt-4">
                {{ news.body|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock main %}