{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    Become Retailer | PicoStyle
{% endblock title %}

{% block main %}
    <style>
        .label {
            display: block;
            font-size: 13px;
            font-weight: 600;
            margin: 19px 0 6px 0;
        }

        input[type=text],
        input[type=email],
        input[type=number],
        textarea {
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem !important;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        input:focus,
        textarea:focus {
            border-color: #424242 !important;
            box-shadow: 0 0 0 3px #ff842170 !important;
        }

        input[type=radio] {
            height: 20px;
            width: 20px;
        }

        textarea {
            height: 90px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        .choice {
            margin: 0;
        }

        .choice li {
            display: inline-block;
            margin: 2px 5px 2px 0;
        }

        #experience {
            display: none;
        }

        #have_store {
            display: none;
        }


    </style>
    {% load i18n %}
    <div style="background-color: #ededed;">
        <div class="container">
            <div class="py-5">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card shadow p-3">
                            <form method="post"> {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <h4>
                                                    {% translate 'You' %}
                                                </h4>
                                            </div>
                                            <div class="col-12">
                                                {{ form.gender }}
                                            </div>
                                            <div class="col-12">
                                                <label class="label" for="id_first_name">
                                                    {% translate 'First name' %}
                                                </label> {{ form.first_name }}
                                                {% for error in form.first_name.errors %}
                                                    <p class="text-danger">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12">
                                                <label class="label" for="id_last_name">
                                                    {% translate 'Last name' %}
                                                </label> {{ form.last_name }}
                                                {% for error in form.last_name.errors %}
                                                    <p class="text-danger">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12">
                                                <label class="label" for="id_address">
                                                    {% translate 'Address' %}
                                                </label> {{ form.address }}
                                                {% for error in form.address.errors %}
                                                    <p class="text-danger">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12">
                                                <label class="label" for="id_city">
                                                    {% translate 'City' %}
                                                </label> {{ form.city }}
                                                {% for error in form.city.errors %}
                                                    <p class="text-danger">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12">
                                                <label class="label" for="id_country">
                                                    {% translate 'Country' %}
                                                </label> {{ form.country }}
                                                {% for error in form.country.errors %}
                                                    <p class="text-danger">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12">
                                                <label class="label" for="id_email">
                                                    {% translate 'Email' %}
                                                </label> {{ form.email }}
                                                {% for error in form.email.errors %}
                                                    <p class="text-danger">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12">
                                                <label class="label" for="id_phone">
                                                    {% translate 'Phone' %}
                                                </label> {{ form.phone }}
                                                {% for error in form.phone.errors %}
                                                    <p class="text-danger">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12">
                                                <label class="label" for="id_zip_code">
                                                    {% translate 'Zip code' %}
                                                </label> {{ form.zip_code }}
                                                {% for error in form.zip_code.errors %}
                                                    <p class="text-danger">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <h4>
                                                    {% translate 'Your project' %}
                                                </h4>
                                            </div>

                                            <div class="col-12">
                                                <label class="label" for="idـexperience">
                                                    {% translate 'Do you have any previous experience of managing a store?' %}
                                                </label> {{ form.experience }}
                                                {% for error in form.experience.errors %}
                                                    <p class="text-danger">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12" id="experience">
                                                <div>
                                                    <label class="label" for="idـhow_long">
                                                        {% translate 'For how long?' %}
                                                    </label> {{ form.how_long }}
                                                    {% for error in form.how_long.errors %}
                                                        <p class="text-danger">
                                                            {{ error }}
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                                <div>
                                                    <label class="label" for="idـmanage_people">
                                                        {% translate 'How many people did you manage?' %}
                                                    </label> {{ form.manage_people }}
                                                    {% for error in form.manage_people.errors %}
                                                        <p class="text-danger">
                                                            {{ error }}
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                                <div>
                                                    <label class="label" for="idـprofessional_experience">
                                                        {% translate 'What is your most recent professional experience?' %}
                                                    </label> {{ form.professional_experience }}
                                                    {% for error in form.professional_experience.errors %}
                                                        <p class="text-danger">
                                                            {{ error }}
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                                <div>
                                                    <label class="label" for="idـluxury_experience">
                                                        {% translate 'What experience do you have in the luxury goods sector?' %}
                                                    </label> {{ form.luxury_experience }}
                                                    {% for error in form.luxury_experience.errors %}
                                                        <p class="text-danger">
                                                            {{ error }}
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                                <div>
                                                    <label class="label" for="idـopen_store">
                                                        {% translate 'In which town/city would you like to open a store?' %}
                                                    </label> {{ form.open_store }}
                                                    {% for error in form.open_store.errors %}
                                                        <p class="text-danger">
                                                            {{ error }}
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label class="label" for="idـhave_store">
                                                    {% translate 'Do you currently have a store in this town/city?' %}
                                                </label> {{ form.have_store }}
                                                {% for error in form.have_store.errors %}
                                                    <p class="text-danger">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12" id="have_store">
                                                <div>
                                                    <label class="label" for="idـcenter_town">
                                                        {% translate 'Is it in the town Centre?' %}
                                                    </label> {{ form.center_town }}
                                                    {% for error in form.center_town.errors %}
                                                        <p class="text-danger">
                                                            {{ error }}
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                                <div>
                                                    <label class="label" for="idـowner">
                                                        {% translate 'Are you the' %}
                                                    </label> {{ form.owner }}
                                                    {% for error in form.owner.errors %}
                                                        <p class="text-danger">
                                                            {{ error }}
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                                <div>
                                                    <label class="label" for="idـprevious_member">
                                                        {% translate 'Have you previously been a member of a franchise or a network?' %}
                                                    </label> {{ form.previous_member }}
                                                    {% for error in form.previous_member.errors %}
                                                        <p class="text-danger">
                                                            {{ error }}
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                                <div>
                                                    <label class="label" for="idـwish">
                                                        {% translate 'What are your reasons for wishing to join our network?' %}
                                                    </label> {{ form.wish }}
                                                    {% for error in form.wish.errors %}
                                                        <p class="text-danger">
                                                            {{ error }}
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                                <div>
                                                    <label class="label" for="idـequality">
                                                        {% translate 'What equity do you have available for this project?' %}
                                                    </label> {{ form.equality }}
                                                    {% for error in form.equality.errors %}
                                                        <p class="text-danger">
                                                            {{ error }}
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="mt-3">
                                        <button type="submit" class="btn btn-success mt-3">
                                            {% translate 'Send' %}
                                        </button>
                                        <a href="javascript:history.back()" class="btn btn-secondary mt-3">
                                            {% translate 'Back' %}</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('id_experience').setAttribute('onchange', 'experienceFunc();');
        let id_experience_0 = document.getElementById("id_experience_0");
        let id_experience_1 = document.getElementById("id_experience_1");
        let experience = document.getElementById("experience");
        let input = experience.getElementsByTagName("input");
        let textarea = experience.getElementsByTagName("textarea");

        function experienceFunc() {
            if (id_experience_0.checked) {
                experience.style.display = "block";
                for (let i = 0; i < input.length; i++) {
                    input[i].required = true;
                }
                for (let i = 0; i < textarea.length; i++) {
                    textarea[i].required = true;
                }
            } else if (id_experience_1.checked) {
                experience.style.display = "none";
                for (let i = 0; i < input.length; i++) {
                    input[i].value = "";
                    input[i].required = false;
                }
                for (let i = 0; i < textarea.length; i++) {
                    textarea[i].value = "";
                    textarea[i].required = false;
                }
            }
        }

        if (id_experience_0.checked) {
            experience.style.display = "block";
            for (let i = 0; i < input.length; i++) {
                input[i].required = true;
            }
        }
        // ==============================
        document.getElementById('id_have_store').setAttribute('onchange', 'haveStoreFunc();');
        let id_have_store_0 = document.getElementById("id_have_store_0");
        let id_have_store_1 = document.getElementById("id_have_store_1");
        let have_store = document.getElementById("have_store");
        let input2 = have_store.getElementsByTagName("input");
        let textarea2 = have_store.getElementsByTagName("textarea");

        function haveStoreFunc() {
            if (id_have_store_0.checked) {
                have_store.style.display = "block";
                for (let i = 0; i < input2.length; i++) {
                    input2[i].required = true;
                }
                for (let i = 0; i < textarea2.length; i++) {
                    textarea2[i].required = true;
                }
            } else if (id_have_store_1.checked) {
                have_store.style.display = "none";
                for (let i = 0; i < input2.length; i++) {
                    input2[i].value = "";
                    input2[i].checked = false;
                    input2[i].required = false;
                }
                for (let i = 0; i < textarea2.length; i++) {
                    textarea2[i].value = "";
                    textarea2[i].required = false;
                }
            }
        }

        if (id_have_store_0.checked) {
            have_store.style.display = "block";
            for (let i = 0; i < input2.length; i++) {
                input2[i].required = true;
            }
        }


    </script>
{% endblock main %}