<!DOCTYPE html>
<html lang="en">
<body>
<h1>
    Personal Information
</h1>
<hr>
<p>{{ lang }}</p>
<h3>
    {{ full_name }}
</h3>
<hr>
<p>Address: <strong>{{ address }}</strong></p>
<p>City: <strong>{{ city }}</strong></p>
<p>Country: <strong>{{ country }}</strong></p>
<p>Email: <strong>{{ email }}</strong></p>
<p>Phone: <strong>{{ phone }}</strong></p>
<p>Zip code: <strong>{{ zip_code }}</strong></p>
<br>
<br>
<h1>
    Project Information
</h1>
<hr>
<br>
<p>
    Do you have any previous experience of managing a store?
</p>
<p><strong>{{ experience }}</strong></p>
<div>
    <p>
        For how long?
    </p>
    <p><strong>{{ how_long }}</strong></p>
    <p>
        How many people did you manage?
    </p>
    <p><strong>{{ manage_people }}</strong></p>
    <p>
        What is your most recent professional experience?
    </p>
    <p><strong>{{ professional_experience }}</strong></p>
    <p>
        What experience do you have in the luxury goods sector?
    </p>
    <p><strong>{{ luxury_experience }}</strong></p>
    <p>
        In which town/city would you like to open a store?
    </p>
    <p><strong>{{ open_store }}</strong></p>
    <p>
        Do you currently have a store in this town/city?
    </p>
    <p><strong>{{ have_store }}</strong></p>
    <p>
        Is it in the town Centre?
    </p>
    <p><strong>{{ center_town }}</strong></p>
    <p>
        Are you the
    </p>
    <p><strong>{{ owner }}</strong></p>
    <p>
        Have you previously been a member of a franchise or a network?
    </p>
    <p><strong>{{ previous_member }}</strong></p>
    <p>
        What are your reasons for wishing to join our network?
    </p>
    <p><strong>{{ wish }}</strong></p>
    <p>
        What equity do you have available for this project?
    </p>
    <p><strong>{{ equality }}</strong></p>
</div>
</body>
</html>