{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% if "create" in request.resolver_match.url_name %}
        {% translate 'Create' %} | PicoStyle
    {% else %}
        {% translate 'Update' %} "{{ item }}" | PicoStyle
    {% endif %}
{% endblock title %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'account/css/custom.css' %}">
{% endblock custom_css %}

{% block main %}
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                {% if "create" in request.resolver_match.url_name %}
                                    <strong>{% translate 'Add New Item' %}</strong>
                                {% else %}
                                    <strong>{% translate 'Update' %} {{ item.title }}</strong>
                                {% endif %}
                            </div>
                            <div class="card-body card-block">
                                <form method="post" enctype="multipart/form-data" class="row" id="form">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-3">
                                                {{ form.media }}
                                                {{ form }}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="p-3">
                                                <hr>
                                                {% if "create" in request.resolver_match.url_name %}
                                                    <button class="btn btn-success" type="submit">
                                                        {% translate 'Create' %}
                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-warning" type="submit">
                                                        {% translate 'Update' %}
                                                    </button>
                                                {% endif %}
                                                <a href="javascript:void(0)" onclick="history.back(-1)"
                                                   class="btn btn-secondary">
                                                    {% translate 'Back' %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block custom_js %}
    <script>
        let input = document.getElementsByTagName("input");
        for (let i = 0; i < input.length; i++) {
            if (input[i].required == false) {
                if (input[i].labels != null) {
                    input[i].labels.forEach((item) => {
                        item.innerHTML = `${item.innerText} ({% translate 'Optional' %})`;
                    })
                }
            }
        }
        let textarea = document.getElementsByTagName("textarea");
        for (let i = 0; i < textarea.length; i++) {
            if (textarea[i].required == false) {
                if (textarea[i].labels != null) {
                    textarea[i].labels.forEach((item) => {
                        item.innerHTML = `${item.innerText} ({% translate 'Optional' %})`;
                    })
                }
            }
        }
        let select = document.getElementsByTagName("select");
        for (let i = 0; i < select.length; i++) {
            if (select[i].required == false) {
                if (select[i].labels != null) {
                    select[i].labels.forEach((item) => {
                        item.innerHTML = `${item.innerText} ({% translate 'Optional' %})`;
                    })
                }
            }
        }
    </script>
{% endblock custom_js %}