{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% translate 'Items' %} | PicoStyle
{% endblock title %}

{% block main %}
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE-->
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>{% translate 'title' %}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td>{% if item.title %}{{ item.title }}{% endif %}</td>
                                        <td>
                                            <a href="{{ item.i_update }}"
                                               class="btn btn-warning" style="font-size: 12px;">
                                                <i class="fa fa-edit"></i> {% translate 'Edit' %}
                                            </a>
                                            <a href="{{ item.i_delete }}"
                                               class="btn btn-danger" style="font-size: 12px;">
                                                <i class="fa fa-trash"></i> {% translate 'Delete' %}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}