{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% translate 'Change password' %} {{ user.title }} | PicoStyle
{% endblock title %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'account/css/custom.css' %}">
{% endblock custom_css %}

{% block main %}
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form method="post" class="card">{% csrf_token %}
                            <div class="card-header">
                                {% translate 'Change password' %}
                                <strong>{{ user.get_full_name }}</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        {{ form }}
                                        {% for message in messages %}
                                            <p class="text-danger mt-3">
                                                {{ message }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr>
                                <button class="btn btn-warning" type="submit">
                                    {% translate 'Change' %}
                                </button>
                                <a href="javascript:history.back()" class="btn btn-secondary">
                                    {% translate 'Back' %}
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}