{% load static %}
<!-- Jquery JS-->
<script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery-migrate-1.4.1.min.js' %}"></script>
<!-- Bootstrap JS-->
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'account/js/animsition/animsition.min.js' %}"></script>

<!-- Category refs -->
<script src="{% static 'account/js/category/x-tree-select.js' %}"></script>

<!-- Main JS-->
<script src="{% static 'account/js/main.js' %}"></script>